@media (min-width: 600px) {
  .Login {
    margin-top: 100px;
  }
}

.Login-title {
  text-align: center;
}

.Login-form {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .Login-form {
    width: 500px;
  }
}

.Login > a {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ff8500;
}
