@media (min-width: 600px) {
  .Password {
    margin: 100px 0;
  }
}

.Password-title {
  text-align: center;
}

.Password-form {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .Password-form {
    width: 500px;
  }
}

label > span {
  width: 100% !important;
}

@media (min-width: 600px) {
  label > span {
    width: 100px !important;
  }
}
