.Profile {
  margin: 0 auto;
  padding: 0 20px;
}

.Profile > img {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
}

@media (min-width: 600px) {
  .Profile {
    min-height: 100vh;
  }
}

@media (min-width: 600px) {
  .Profile {
    width: 500px;
    margin-top: 100px;
  }
}

.Profile-title {
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.button-group > button {
  height: 40px;
  border-radius: 4px;
  margin: 0 5px;
  background-color: olivedrab;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  margin: 20px 0;
}

@media (min-width: 600px) {
  .row {
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.Profile-label {
  font-size: 16px;
  width: 100%;
}

@media (min-width: 600px) {
  .Profile-label {
    width: 45%;
    margin-right: 5px;
  }
}

.Profile-data {
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 600px) {
  .Profile-data {
    margin-top: 15px;
    padding-right: 700;
  }
}
