.Profile-form {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .Profile-form {
    width: 500px;
  }
}

.security-questions > label > span {
  width: 100%;
  font-weight: 500;
}

@media (min-width: 600px) {
  .security-questions {
    flex-direction: column !important;
  }
}

.dob {
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  padding: 7px;
  outline: none;
  margin-top: 5px;
}

.dob > div {
  border: none;
}

.image-upload {
  display: flex;
  justify-content: center;
  border: 2px dotted;
  border-radius: 5px;
  padding: 10px;
}

.image-upload > div {
  outline: none;
}

.image-upload > div > p {
  font-size: 20px;
  font-weight: 500;
}

.image-upload > div > img {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
}
